<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab1 Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script> 
    const connect = "http://localhost:3000/dis/";

    function start()
    {
      getajax();
    }
    
    function getajax()
    {   
      console.log("GET");
      $.ajax({
        type: "GET",
        url: connect + document.getElementById('UserIdGET').value,
        success: function(msg){
          console.log(msg);
          console.log(msg.data);
          var i = 0;
          document.getElementById('table').innerHTML = "";
          while (true)
          {
            try
            {
              var tr = document.createElement("tr");
              var UserId = document.createElement("th");
              UserId.innerHTML = msg.data[i].UserId;
              tr.appendChild(UserId);
              var td = document.createElement("td");
              td.innerHTML = msg.data[i].NickName;
              tr.appendChild(td);
              td = document.createElement("td");
              td.innerHTML = msg.data[i].GuildName;
              tr.appendChild(td);
              td = document.createElement("td");
              td.innerHTML = msg.data[i].IsBot;
              tr.appendChild(td);
              td = document.createElement("td");
              img1 = document.createElement("img");
              img1.src = msg.data[i].AvatarUrl;
              img1.width = 200;
              img1.height = 200;
              td.appendChild(img1);
              tr.appendChild(td);
              document.getElementById('table').appendChild(tr);
              i++;
            }
            catch
            {
              break;
            }
          }
        }
      });
    }
    
    function postajax()
    {
      console.log("POST");
      if(document.getElementById('UserIdPOST').value == "")
      {
        document.getElementById('UserIdPOST').classList.add("is-invalid");
        return;
      }
      else
      {
        document.getElementById('UserIdPOST').classList.remove("is-invalid");
      }
      var id = parseInt(document.getElementById('UserIdPOST').value);
      $.ajax({
        type: "POST",
        url: connect,
        
        data: "UserId="+ id +"&NickName=" + document.getElementById('NickNamePOST').value + "&GuildName=" + document.getElementById('GuildNickNamePOST').value + "&IsBot="+ document.getElementById('IsBotPOST').checked + "&AvatarUrl=" + document.getElementById('AvatarUrlPOST').value,
        success: function(msg){
          console.log(msg);
          getajax();
        }
      });
    }
    
    function putajax()
    {
      console.log("PUT");
      if(document.getElementById('UserIdPUT').value == "")
      {
        document.getElementById('UserIdPUT').classList.add("is-invalid");
        return;
      }
      else
      {
        document.getElementById('UserIdPUT').classList.remove("is-invalid");
      }
      var id = parseInt(document.getElementById('UserIdPUT').value);
      $.ajax({
        type: "PUT",
        url: connect + id,
        
        data: "UserId="+ id +"&NickName=" + document.getElementById('NickNamePUT').value + "&GuildName=" + document.getElementById('GuildNickNamePUT').value + "&IsBot="+ document.getElementById('IsBotPUT').checked + "&AvatarUrl=" + document.getElementById('AvatarUrlPUT').value,
        success: function(msg){
          console.log(msg);
          getajax();
        }
      });
    }
    
    function deleteajax()
    {
      console.log("DELETE");
      $.ajax({
        type: "DELETE",
        url: connect + document.getElementById('UserIdDELETE').value,
        success: function(msg){
          console.log(msg);
          getajax();
        }
      });
    }
    
    function methodChanged()
    {
      switch(document.getElementById('methods').value)
      {
        case '1':
          document.getElementById('formGet').style.display = "inline";
          document.getElementById('formPost').style.display = "none";
          document.getElementById('formPut').style.display = "none";
          document.getElementById('formDelete').style.display = "none";
          break;
        case '2':
          document.getElementById('formGet').style.display = "none";
          document.getElementById('formPost').style.display = "inline";
          document.getElementById('formPut').style.display = "none";
          document.getElementById('formDelete').style.display = "none";
          break;
        case '3':
          document.getElementById('formGet').style.display = "none";
          document.getElementById('formPost').style.display = "none";
          document.getElementById('formPut').style.display = "inline";
          document.getElementById('formDelete').style.display = "none";
          break;
        case '4':
          document.getElementById('formGet').style.display = "none";
          document.getElementById('formPost').style.display = "none";
          document.getElementById('formPut').style.display = "none";
          document.getElementById('formDelete').style.display = "inline";
          break;
        default:
          document.getElementById('formGet').style.display = "inline";
          document.getElementById('formPost').style.display = "none";
          document.getElementById('formPut').style.display = "none";
          document.getElementById('formDelete').style.display = "none";
          break;
      }
    }</script>

  <script src="../scripts/navbarloginscript.js"></script>
  <link rel="stylesheet" href="../styles/nav.css">
</head>

<body class="body" onload="getajax()">
  <%- include('../navbar/nav.ejs', { user: user }); %>

  <h1 class="display-3 text-center">Тест API</h1>
  <h1 class="display-4 text-center">Выбери метод, заполни поля и нажми на кнопку</h1>
  <h1 class="display-5 text-center">Сервер на node.js задеплоин на heroku и доступен по ссылке <br>http://localhost:3000/</h1>
  <h1 class="display-5 text-center">Данные взяты с бота в дискорде</h1>
  <div style="margin-left: 10%; margin-right: 10%; margin-top: 30px;">
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Methods</label>
    <select class="form-select" id="methods" onchange="methodChanged()">
      <option selected value="1">GET</option>
      <option value="2">POST</option>
      <option value="3">PUT</option>
      <option value="4">DELETE</option>
    </select>
  </div>

  <div id="formGet">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="UserIdGET" placeholder="1">
      <label for="UserIdGET">User Id</label>
    </div>
    <div class="form-floating mb-3" style="text-align: center;">
      <button class="btn btn-success" style="text-align: center;" onclick="getajax()">GET</button>
    </div>
  </div>

  <div id="formPost" style="display: none;">
    <div class="form-floating mb-3 required">
      <input type="number" class="form-control required is-invalid" id="UserIdPOST" placeholder="1">
      <label for="UserIdPOST">User Id</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="NickNamePOST" placeholder="1">
      <label for="NickNamePOST">NickName</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="GuildNickNamePOST" placeholder="1">
      <label for="GuildNickNamePOST">GuildNickName</label>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-text">
        <input class="form-check-input" type="checkbox" value="" id="IsBotPOST">
        <span class="input-group-text"> IsBot</span>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="AvatarUrlPOST" placeholder="1">
      <label for="AvatarUrlPOST">AvatarUrl</label>
    </div>
    <div class="form-floating mb-3" style="text-align: center;">
      <button class="btn btn-success" style="text-align: center;" onclick="postajax()">POST</button>
    </div>
  </div>

  <div id="formPut" style="display: none;">
    <div class="form-floating mb-3">
      <input type="number" class="form-control is-invalid" id="UserIdPUT" placeholder="1">
      <label for="UserIdPUT">User Id</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="NickNamePUT" placeholder="1">
      <label for="NickNamePUT">NickName</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="GuildNickNamePUT" placeholder="1">
      <label for="GuildNickNamePUT">GuildNickName</label>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-text">
        <input class="form-check-input" type="checkbox" value="" id="IsBotPUT">
        <span class="input-group-text"> IsBot</span>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="AvatarUrlPUT" placeholder="1">
      <label for="AvatarUrlPUT">AvatarUrl</label>
    </div>
    <div class="form-floating mb-3" style="text-align: center;">
      <button class="btn btn-success" style="text-align: center;" onclick="putajax()">PUT</button>
    </div>
  </div>

  <div id="formDelete" style="display: none;">
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="UserIdDELETE" placeholder="1">
      <label for="UserIdGET">User Id</label>
    </div>
    <div class="form-floating mb-3" style="text-align: center;">
      <button class="btn btn-success" style="text-align: center;" onclick="deleteajax()">DELETE</button>
    </div>
  </div>

  <div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nick</th>
        <th scope="col">GNick</th>
        <th scope="col">IsBot</th>
        <th scope="col">AvtrUrl</th>
      </tr>
    </thead>
    <tbody id="table">
      
    </tbody>
  </table>
  </div>

</body>

</html>